<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies DB</title>

    {% stylesheets
    '@MoviesDefaultBundle/Resources/public/css/bootstrap.css'
    '@MoviesDefaultBundle/Resources/public/css/bootstrap-table.min.css'
    '@MoviesDefaultBundle/Resources/public/css/jquery-ui.css'
    '@MoviesDefaultBundle/Resources/public/css/movies.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

  </head>
  <body>

    <header id="header" class="row" align="center">
        <h1>Movies DB</h1>
    </header>

    <!-- Contact Table -->
    <section id="query-section" align="center">
      <div id="query-options">
        <input id="query-input" placeholder="Type the actor's name here" autofocus>
        <div id="options-div">
          <label> Options :</label><br/>
          <input id="person" type="radio" name="search" value="person" checked> Actor <br/>
          <input id="movie" type="radio" name="search" value="movie"> Movie
        </div>
        <div id="autocomplete-div">
          <!-- <dl>
            <dt>Apples</dt>
            <dt>Bananas</dt>
            <dt>Lemons</dt>
            <dt>Oranges</dt>
          </dl>  -->
        </div>
      </div>

      <button id="search"  name="search" type="submit" value=""> Search </button>
      <button id="options" name="options" type="options" value=""> Options </button>
    </section>

    <!-- Contact Table -->
    <section id="main-table" align="center">
      <table class="header-main-table" data-toggle="table" id="table-bootstrap"
        data-pagination="true" data-sort-name="release_date" data-sort-order="asc" >
        <thead>
          <tr>
            <th data-field="poster_path" data-align="center"   data-formatter="posterFormatter">
              Poster
            </th>
            <th data-field="original_title" data-align="center" data-formatter="titleFormatter" data-sortable="true">
              Title
            </th>
            <th data-field="id" data-visible="false">
              id
            </th>
            <th data-field="release_date"  data-valign="middle" data-formatter="dateFormatter" data-sortable="true"  data-align="center">
              Year
            </th>
          </tr>
        </thead>
      </table>
     </section>


    <!-- JavaScript Dependecies -->
    {% javascripts
    '@MoviesDefaultBundle/Resources/public/js/vendors/jquery.js'
    '@MoviesDefaultBundle/Resources/public/js/vendors/jquery-ui.js'
    '@MoviesDefaultBundle/Resources/public/js/vendors/bootstrap-table.min.js'
    '@MoviesDefaultBundle/Resources/public/js/vendors/jquery.elevate.zoom.min.js'
    '@MoviesDefaultBundle/Resources/public/js/constants.js'
    '@MoviesDefaultBundle/Resources/public/js/bootstrapTableFormatter.js'
    '@MoviesDefaultBundle/Resources/public/js/eventController.js'
    '@MoviesDefaultBundle/Resources/public/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>
